html,
body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 400px) {
  :root {
    --rem: 12px !important;
  }
}

@font-face {
  font-family: "Norse";
  src: url("Norse-Bold.otf") format("truetype");
}

.main-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.left-container {
  flex-grow: 2;
  background-image: url("https://images.unsplash.com/photo-1533683083439-1a776a5653cb?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
}

.left-container > p {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  font-weight: 300;
}

.left-container > p > a {
  color: white;
}

.right-container {
  flex: 5;
  min-width: 300px;
  height: 100%;
  background: linear-gradient(0deg, #4266b8 0%, #1b4ab6 30%, #182848 70%);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container > a > img {
  width: 150px;
}

.title-container > a {
  font-family: "Norse";
  font-size: 3rem;
  color: white;
  margin: 0;
  text-decoration: none;
}

.title-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  padding: 1rem;
}

.box {
  background-color: white;
  position: absolute;
  border-radius: 50%;
}

.form-container {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.form-container > div {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.form-container > div > h1 {
  color: white;
  position: absolute;
  text-shadow: 2px 2px blue;
  top: -8rem;
  font-size: 3rem;
}

.form-container > div > form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  padding-top: clamp(12px, 5vw, 6rem);
  padding-bottom: clamp(12px, 5vw, 6rem);
  padding-left: 1rem;
  padding-right: 1rem;
}

.form-container > div > form > div {
  flex: 1 0 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 6px 1rem 6px;
  align-items: center;
}

input {
  font-size: 1rem;
  padding: 0.4rem;
  display: inline;
  width: clamp(200px, 15vw, 300px);
  border: 2px solid gray;
}

label {
  font-size: 0.9rem;
}

.text-input:focus {
  border: 2px solid rgb(0, 102, 255);
  outline: none;
}

.text-input:invalid:focus {
  border: 2px solid red;
  outline: none;
}

.pass-input:focus {
  border: 2px solid red;
  outline: none;
}

.confirm-input:focus {
  border: 2px solid blue;
  outline: none;
}

.submit-class {
  background-color: #1c2f55;
  box-shadow: 1px 2px 3px black;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  font-weight: 800;
  border-radius: 8px;
  z-index: 1;
  margin-top: 3rem;
  transition: transform 0.2s;
}

.submit-class:active {
  transform: scale(0.96);
}

#acc-created {
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("layered-peaks-haikei.svg");
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(0, 0, 94);
}

#acc-created::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-active {
  animation: show 1s ease forwards;
}

@keyframes show {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

.modal-close {
  animation: close 1s ease;
}

@keyframes close {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

#app-created > h1 {
  text-align: center;
}
